.roll-right{
  animation-name: roll-right;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}


.bounce{
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-timing-function:ease;
  animation-delay:4s;
}

.shift-down{
  animation-name: container-shift-down;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.shift-down{
  animation-delay
}

@keyframes bounce{
  1%{top:0%;}
  3%{top:10%;}
  7%{top:19%;}
  10%{top:38%;}
  20%{top:50%;}
  30%{top:40%;}
  40%{top:50%;}
  50%{top:42%;}
  60%{top:50%;}
  70%{top:44%;}
  80%{top:50%;}
  90%{top:46%;}
  100%{top:50%;}
}


@keyframes roll-right{
  from {
    left:-100%;
    transform: rotate(0deg);
  }
  to{
    left:0;
    transform: rotate(2160deg);
  }
}

@keyframes container-shift-up{
  from{
    top: 0;
  }
  to{
    top:-10%;
  }
}

@keyframes container-shift-left{
  from{
    right:0;
  }
  to{
    right:10%;
  }
}
@keyframes container-shift-down{
  from{
    margin-top:initial;
  }
  to{
    margin-top:1em;
  }
}

@keyframes container-shift-right{
  from{
    left:0;
  }
  to{
    left:10%;
  }
}

