.codepen{
  position:relative;
  height:inherit;
  width:5rem;
  transition: 1s all ease;
}

.codepen:after{
  content:"";
  position:absolute;
  background:black;
  width: 5rem;
  height:5rem;
}


.codepen-inner{
  position:absolute;
  height:100%;
  width:100%;
}

.codepen-inner:after{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transition:inherit;
  transform: translate(-50%, -50%);
  height:100% !important;
  width:100% !important;
  background: url(../img/codepen.png);
  background-size:contain;
  background-repeat:no-repeat;
  z-index:2;
}

.transparent.codepen:after{
  background: rgba(0,0,0,0) !important;
}

.transparent.codepen:hover{
  background:black !important;
}


/*temporary hack for codepen..*/


.bounce.codepen:hover .codepen-inner:after{
  animation-name: bounce;
  animation-duration:1.5s;
  animation-timing-function:ease;
}

