.facebook{
  position:relative;
  width:5rem;
  height:inherit;
  color:white;
  overflow:hidden;
  background: #18189E;
  transition: all .5s ease;
}

.fb-ic{
  transition:inherit;
  color:white;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size:400%;
}

.fb-ic:after{
  content:"f";
}

.facebook:hover{
  background: #18189E;
}