.github{
  position:relative;
  height:inherit;
  width:5rem;   
/*  overflow:hidden;*/
  transition: 1s ease;
  background: #000;
}


.github:hover{
  background:black;
}

.github-inner{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  content:"";
  height:70% !important;
  width:70% !important;
  background: url(../img/ghub.png);
  background-repeat:no-repeat; 
  background-size:contain;
}

