.smr{
  overflow:hidden;
  z-index:10;
}

.smr:nth-child(even){
  background:#501212;
}

.smr:nth-child(odd){
  background: #2B0909;
}

.icon-col{
  margin-top:5rem;
  margin-bottom:5rem;
  padding-top:5rem;
  padding-bottom:5rem;
  height:5rem;
}

.icon-col *{
  display:inline-block;
  transition: 1s all ease !important;
}


/*need to figure out which of the above is needed. develop a module component!*/


.transparent{
  background: transparent !important;
}

.transparent:hover{
  background: initial !important;
}

.vertical *{
  height:5rem !important;
}

.vertical *:after{
  content:"";
  clear:both;
}


.container{
  color:#CE9A00;
  position:relative;
}

html, body{
  background:#6D513A;  
}

.circular{
  border-radius: 50%;
}

.roll-right-anim{
  top:initial;
}
