
.twitter{
  position:relative;
  height:inherit;
  width:5rem;
  transition: all 1s ease;
  background-color: #3398FF; 
}

.twitter-inner{
  position:absolute;
  transition: inherit;
  height:50% !important;
  width:50%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/twitter.png);
  background-size:contain;
  background-repeat:no-repeat;
}

.transparent.twitter:hover{
  background-color: #3398FF !important;
}

.bounce.twitter:hover .twitter-inner{
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-timing-function:ease;
}

